.home
  padding-top 60px
  margin 0 auto
  max-width 400px
  text-align center
.logo
  margin 0 auto
  display block
  width 50%
  max-width 400px
.title
  margin 20px 0 10px
  font-size 18px
.inp
  margin 10px 0
  border 1px solid #ccc
  outline none
